Implementation/source/tbldef/tbl2_Staff_PreEmployChx.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="tbl2_Staff_PreEmployChx" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="tbl2_Staff_PreEmployChx">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="PrimaryKey" index-key="ID_PEChecks " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:index index-name="tbl_Stafftbl_preEmplyChxVc" index-key="FK_StaffID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="tblLUT_preEmplyChxtbl_preEmplyChxVc" index-key="CheckName " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="UniqueKey" index-key="FK_StaffID CheckName " primary="no" unique="yes" clustered="no" order="asc asc"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID_PEChecks" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int"/>
<xsd:element name="FK_StaffID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
<xsd:element name="CheckName" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
<xsd:element name="Verified" minOccurs="1" od:jetType="yesno" od:sqlSType="bit" od:nonNullable="yes" type="xsd:boolean"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
