Implementation/source/tbldef/trashtbl3_Staff_TrainingLog.xml

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:od="urn:schemas-microsoft-com:officedata">
<xsd:element name="dataroot">
<xsd:complexType>
<xsd:sequence>
<xsd:element ref="trashtbl3_Staff_TrainingLog" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
<xsd:attribute name="generated" type="xsd:dateTime"/>
</xsd:complexType>
</xsd:element>
<xsd:element name="trashtbl3_Staff_TrainingLog">
<xsd:annotation>
<xsd:appinfo>
<od:index index-name="FK_StaffID" index-key="FK_StaffID FK_MCourseID DateMTrCompleted " primary="no" unique="yes" clustered="no" order="asc asc asc"/>
<od:index index-name="PrimaryKey" index-key="ID_TrainingLog " primary="yes" unique="yes" clustered="no" order="asc"/>
<od:index index-name="tbl1_MCourseCatalogtbl3_Staff_TrainingLog" index-key="FK_MCourseID " primary="no" unique="no" clustered="no" order="asc"/>
<od:index index-name="tbl1_Stafftbl3_Staff_TrainingLog" index-key="FK_StaffID " primary="no" unique="no" clustered="no" order="asc"/>
</xsd:appinfo>
</xsd:annotation>
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ID_TrainingLog" minOccurs="1" od:jetType="autonumber" od:sqlSType="int" od:autoUnique="yes" od:nonNullable="yes" type="xsd:int"/>
<xsd:element name="FK_StaffID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
<xsd:element name="FK_MCourseID" minOccurs="0" od:jetType="longinteger" od:sqlSType="int" type="xsd:int"/>
<xsd:element name="DateOfLog" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime"/>
<xsd:element name="DateMTrCompleted" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime"/>
<xsd:element name="DateMTrExpire" minOccurs="0" od:jetType="datetime" od:sqlSType="datetime" type="xsd:dateTime"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
